# W.I.P. Learn/SQL QA

In [3]:
import sqlite3
connection = sqlite3.connect('sports.db')
cursor = connection.cursor()

# ---- uncomment and run code above or code below to create db file called sports.db ----
# ---- and create cursor and connection objects ----

# from sql_runner import connection, cursor

In [6]:
# Example of running a SQL file in the directory
# Uncomment out code below and press shift+enter
file = open('create_leagues.sql')
sql = file.read()
cursor.executescript(sql)

NameError: name 'cursor' is not defined

In [ ]:
# Example of running SQL script directly from jupyter notebook
# Uncomment out code below and press shift+enter
# cursor.executescript('''INSERT INTO leagues (name) VALUES ("NHL"), ("NBA");''')